extends layout

block content
  if posts == ""
    h1.text-center.mt-5 No posts to read, come back later ;)
  else
    .mt-5
    .card-columns
      each post in posts
        a.each-post(href=`/posts/${post.title}`)
          .card
            .card-body
              h3.card-title= post.title
              .card-text= post.description
