extends layout

block content
  if posts == ""
    h1.text-center.mt-5 No posts to read, come back later ;)
  else
    .mt-2
    each post in posts
      a.each-post.p-3(href=`/post/${post.title}`)
        h1= post.title
        p= post.description
