extends layout

block content
  .row
    .col-12
      if post
        #editor !{post.body}
      else
        #editor

block scripts
  // CKEditor
  script(src='/javascripts/ckeditor.js')
  script(src='/javascripts/editor.js')
